<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">

    <title>Abalone Prediction Service</title>
</head>

<body>
    <div class="container m-1">
        <h1>Salary Predictor</h1>
        <h3 class="mb-4">Please enter your years of experience below:</h3>
        <form method="POST">
            {# This hidden_tag is a CSRF security feature. #}
            {{ form.hidden_tag() }}
            {{ form.exp.label }} {{form.exp}}
            <br>
            <input type="submit" value="Predict">
        </form>
    </div>
</body>

</html>

<!-- Note that without WTForms, you can set the action of the form to the appropriate url
In your HTML file (index.html), the <form> element is used to submit data to the Flask application. Let's break down the <form> tag and its attributes:

  <form action="{{ url_for('predict') }}" method="post">
  1. action attribute:
  - The action attribute specifies the URL or route where the form data will be submitted when the form is submitted.
  - In this case, {{ url_for('predict') }} is a Jinja2 template expression that generates the URL for the /predict route.
  - The url_for() function is a convenient way to generate URLs dynamically in Flask templates. It takes the endpoint name (the name of the PYTHON FUNCTION) as an argument and returns the corresponding URL.
  - This is useful because if you change the route or URL structure in your Flask application, you only need to update the route in the Flask app, not the HTML

  2. method attribute:
  The method attribute specifies the HTTP method to be used when submitting the form data.
  In this case, method="post" indicates that the form data will be sent using the HTTP POST method.
  The POST method is commonly used when submitting form data because it allows sending data in the request body, which is more secure and suitable for sending larger amounts of data compared to the GET method.
  When the form is submitted (e.g., by clicking the "Predict" button), the following steps occur:
  -->